body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef3ff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #2b4eff;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* CONTAINER */
.container {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* IMAGE FIX (IMPORTANT) */
.profile-img {
    width: 10;
    height: 10;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

/* LIST */
.list {
    list-style: none;
    padding: 0;
}

.list li {
    padding: 5px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #2b4eff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    nav {
        flex-direction: column;
    }
}
